@{
    ViewBag.Title = "Update Cookie Consent";
}

<div class="mt-4 p-5 bg-light" style="text-align:center; margin:auto; width: 80%;">
    <h4>Oops... it seems you have not accepted cookies and cannot use this functionality. You can update your cookie consent below</h4>
    <partial name="_CookieBannerPartial" />
</div>